.game-ui-section {
  position: absolute;
  top: 2rem; // 32px
  left: 0;
  right: 0;
  width: 1364px;
  height: 800px;
  margin: 0 auto; // 48px auto
  border: 1px solid var(--light-gray);
  border-radius: 3.125rem; // 50px
}

.game-ui-section-toolbar {
  padding: 3rem; // 48px
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Outfit";
}

.game-ui-section-stats {
  display: flex;
  align-items: center;
  gap: 1.5rem; // 24px

  .game-ui-section-stats-element {
    background: rgba(255, 247, 204, 0.1);
    padding: 0 1.5rem; // 0 24px
    height: 2.5rem; // 40px
    border-radius: 1rem; // 16px
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    gap: 1rem; // 16px
    justify-content: space-between;
    padding: 0 1.5rem; // 0 24px

    .game-ui-section-stats-progress-bar-container {
      background: rgba(255, 255, 255, 0.2);
      width: 8.625rem; // 138px
      height: 0.25rem; // 4px

      .game-ui-section-stats-progress-bar {
        height: 100%;
        background: var(--light-gray);
        width: 50%;
      }
    }

    .game-ui-section-stats-counter {
      font-size: 0.75rem; // 12px
      font-weight: 700;
    }
  }

  button {
    background: rgba(142, 108, 154, 0.5);
    padding: 0 2rem;
    height: 2.5rem; // 40px
    border: 1px solid var(--light-gray);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.375rem; // 22px
    font-weight: 500;
    color: var(--white);
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}

#game-ui-playable-area {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 659px;
  border-radius: 0 0 3.125rem 3.125rem; // 0 0 50px 50px
}

#open-game-settings-menu-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

#settings-menu-wrapper {
  position: relative;
}

#settings-menu {
  background: rgba(7, 2, 7, 0.3);
  position: absolute;
  min-width: 10rem; // 160px
  top: 3rem; // 48px
  right: 1rem; // 16px
  border: 1px solid rgba(255, 248, 240, 1);
  border-radius: 2rem; // 32px
  padding: 1.5rem 1rem; // 24px 16px
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem; // 12px

  button {
    background: none;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: var(--light-gray);

    &:hover {
      color: var(--white);
    }
  }
}

#player-book {
  position: relative;
  width: 994px;
  height: 804px;
  background: url("/book.png");
  z-index: 100;

  #close-player-book-modal-button {
    background: transparent url("/x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    right: -2rem;
    border: none;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}

#theory-form {
  padding: 4rem; // 64px
  border: 1px solid rgba(255, 248, 240, 0.3);
  border-radius: 2.5rem; // 40px
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: "Outfit", sans-serif;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: "Mansalva", sans-serif;
      font-size: 2.5rem; // 40px
    }

    button#close-theory-modal-button {
      background-color: transparent;
      background-image: url("/x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }

  .theory-form-hipothesis-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    h3 {
      font-size: 1.25rem;
    }

    .input-group {
      display: flex;
      align-items: center;
      gap: 1rem;

      select {
        background: rgba(27, 24, 27, 1);
        border: none;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        color: var(--white);

        option {
          color: var(--light-gray);

          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }

  #validate-theory-button {
    background: rgba(142, 108, 154, 0.5);
    border: 1px solid rgba(127, 140, 141, 1);
    border-radius: 1rem; // 16px
    padding: 0.5rem 3rem; // 16px 48px
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem; // 24px
    font-weight: 600;
    opacity: 0.75;
    color: var(--white);

    &:hover {
      opacity: 1;
    }
  }
}

.entity {
  width: 4rem;
  height: 4rem;
  cursor: pointer;

  &.entity-unknown-shape {
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -6.5rem;
      left: -6.5rem;
      z-index: -1;
      width: 250px;
      height: 250px;
      background: url("/mist-texture.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }
  }

  &.entity-shape {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.cube {
      background-image: url("/cube.svg");
    }

    &.pyramid {
      background-image: url("/pyramid.svg");
    }

    &.sphere {
      background-image: url("/sphere.svg");
    }

    &.green {
      filter: hue-rotate(90deg);
    }

    &.blue {
      filter: hue-rotate(180deg);
    }

    &.pink {
      filter: hue-rotate(270deg);
    }

    &.red {
      filter: hue-rotate(310deg) saturate(3);
    }
  }
}
